@font-face {
  font-family: 'Culture';
  src: url('./fonts/Culture.otf');
}

@font-face {
  font-family: 'Love';
  src: url('./fonts/Love.otf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Culture, serif;
  font-weight: normal;
}

html {
  font-size: 62.5%;
}

html, body {
  height: 100%;
}

body {
  min-width: 32rem;
}

ul, li {
  list-style: none;
}

img {
  width: 100%;
  min-width: 32rem;
}

header {
  min-height: 15%;
  padding-top: 10.8rem;
}

header.left {
  padding-top: 0;
  padding-left: 1.7rem;
  position: absolute;
  top: 0;
  left: 0;
}

header h1.prompt {
  width: 85rem;
  margin: 0 auto;
  font-size: 4.8rem;
  text-align: center;
}

header .log {
  width: 33rem;
  /* border: 1px solid #000; */
}

header h3.logs {
  width: 100%;
  font-size: 4.8rem;
  text-align: initial;
  word-break:break-all;
  overflow-y: auto;
}

.log .monthInput2 {
  width: 100%;
  display: inline-block;
  border: none;
  outline: none;
  font-size: 4.8rem;
  display: none;
}

section {
  width: 85rem;
  margin: 0 auto;
  text-align: center;
}
.input-field .monthInput {
  display: inline-block;
  width: 100%;
  border: none;
  outline: none;
  font-size: 45rem;
  font-family: 'Love';
}

.img-box {
  width: 100%;
  margin: 0 auto;
  padding-top: 2rem;
}
